@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #fff2bd;
  --color-secondary: #288ccc;
  --color-info:#ffffff;
}